body {
  background: #f6f7f8 !important;
  width: 100% !important;
  height: 100% !important;
}

ul,
li {
  margin: 0 !important;
  padding: 0 !important;
}

main {
  height: 660px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .patient-info-container {
    order: 1;
  }
  .patient-diagnosis-container {
    order: 2;
  }
}

@media (min-width: 769px) {
  .patient-info-container {
    order: 2;
  }
  .patient-diagnosis-container {
    order: 1;
  }
}
